.footer {
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
  z-index: 1;
  &__copyright {
    font-size: 1.3rem;
    font-style: italic;
    margin: 0rem 1rem;
  }
  &--landing {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: right;
    max-width: 1320px;
  }
  &--section {
    background-color: $negro;
    justify-content: center;
  }
}