.section {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background: rgb(100,28,52);
  background: linear-gradient(90deg, rgba(100,28,52,1) 0%, rgba(28,28,28,1) 100%);
  color: white;
  .section__title {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }
  .section__subtitle {
    font-size: 2.3rem;
    margin-top: 1rem;
  }
  .section__description {
    margin: 1rem 0rem;
    line-height: 2.5rem;
  }
}

.card {
  background-color: silver;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
  min-width: 230px;
  max-width: 300px;
  padding: 0.5rem;
  margin: 1rem auto 0rem auto;
  img {
    width: 100%;
  }
  h2, h3 {
    font-size: 2rem;
    margin: 1rem 0rem;
  }
  p {
    margin: 0rem;
    line-height: 2.5rem;
  }
  ul {
    text-align: left;
    padding-left: 1.7rem;
    line-height: 2.5rem;
  }
  a {
    padding: 0.5rem;
    margin: 1rem 1rem 0.5rem 1rem;
    background-color: #641c34;
    color: white;
    border: 1px solid white;
    font-size: 1.6rem;
    text-decoration: none;
    display:inline-block;
    transition: background-color 1s ease, color 0.5s ease;
    cursor: pointer;
    &:hover {
      background-color: #1c1c1c;
    }
  }
}

.card--clear {
  background-color: unset;
  color: white;
  border: none;
}